.pokemonCardContainer {
  width: 300px;
  height: 40vh;
  margin: 12vh 1% 5vh 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px 20px 0 0;
  position: relative;
  background-color: #0000003f;
}

.pokemonCardImage {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 75%;
  height: 30vh;
  position: absolute;
  top: -80px;
  z-index: 1;
}

.pokemonCardSubContainer {
  height: 100%;
  width: 100%;
  border-radius: 30px 30px 0 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 3;
  text-decoration: none;
}

.pokemonCard-nameContainer {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemonCard-DivisorLine {
  width: 80%;
  height: 8px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.06);
}

.pokemonCard-InfoContainer {
  width: 80%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pokemonName {
  text-align: center;
  font-weight: 500;
  font-weight: 700;
  font-size: 25px;
  width: 65%;

  overflow: hidden;
  text-overflow: ellipsis;
}

.pokeballImage {
  width: 32px;
  height: 32px;
}

.quickViewButtonContainer {
  width: 100%;
  height: 23%;
  background-color: #212946;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 5px 5px;
}

.quickViewButtonText {
  font-weight: 500;
}

@media screen and (max-width: 1400px) {
  .pokemonCardContainer {
    width: 23%;
  }
}

@media screen and (max-width: 1100px) {
  .pokemonCardContainer {
    width: 30%;
  }
}

@media screen and (max-width: 800px) {
  .pokemonCardContainer {
    width: 40%;
  }
  .pokemonCardsContainer {
    justify-content: space-evenly;
  }
  .pokemonName {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 600px) {
  .pokemonCardContainer {
    width: 30%;
    height: 30vh;
    margin: 11vh 1% 0vh 1%;
  }
  .pokemonName {
    font-size: 15px !important;
    font-weight: 500;
  }
}

@media screen and (max-width: 550px) {
  .pokemonCardContainer {
    width: 40%;
  }
}

@media screen and (max-width: 400px) {
  .pokemonCardContainer {
    width: 46%;
  }
}

@media screen and (max-width: 350px) {
  .pokemonCardContainer {
    width: 70%;
  }
}
